ody {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.profile-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 350px; /* Set this to be wider than the input fields */
    margin: 0 auto; /* Center horizontally */
}

.profile-container h2 {
    margin-bottom: 20px;
    font-size: 24px;
    text-align: center;
}

.profile-container label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.profile-container input[type="text"],
.profile-container input[type="number"] {
    width: 100%; /* Full width */
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.profile-container input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

.profile-container input[type="submit"]:hover {
    background-color: #0056b3;
}