<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="stylesheet" href="/css/login.css">
</head>
<body>
<div class="login-container">
    <h2>Login</h2>
    <form action="/login" method="post">
        <input type="email" name="email" placeholder="Email" required>
        <input type="password" name="password" placeholder="Password" required>
        <div id="message">
            <% if (message) { %>
                <%= message %>
            <% } %>
        </div>
        <br>
        <input type="submit" value="Login">
    </form>
    <p><a href="/reset-password">Forgot your password?</a></p> <!-- Added this line -->
</div>
</body>
</html>
