/* post.css */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.post-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 350px; /* Set this to be wider than the input fields */
}

.post-container h2 {
    margin-bottom: 20px;
    font-size: 24px;
    text-align: center;
}

.post-container textarea {
    width: 95%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.post-container input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #28a745;
    border: none;
    border-radius: 4px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

.post-container input[type="submit"]:hover {
    background-color: #218838;
}
/* Style for input element to resemble textarea */
/* Style for input element to resemble textarea with content at the beginning */
#post {
    width: 94%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: white;
}
nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
}

nav ul li {
    margin: 0 1em;
    position: relative;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    padding: 0.5em 1em;
    display: block;
    transition: transform 0.2s, background-color 0.2s;
}

nav ul li a:hover {
    background-color: #4b70ba;
    transform: scale(1.1);
    border-radius: 5px;
}

nav ul li::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #fff;
    transition: width 0.2s;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

nav ul li a:hover::after {
    width: 100%;
}
header {
    background-color: #3b5998;
    color: #fff;
    padding: 1em 0;
}


